@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    &:hover{
        color: #228B22;
        text-decoration: none;
        font-weight: 900;
    }
}
ul{
    list-style-type: none;
    display: inline-block;
}

@mixin center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid{
    padding: 0 7rem;
}

h1{
    font-size: 2.2rem;
    font-weight: 600;
}
p{
    font-size: 1.5rem;
}

hr{
    margin: 0;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

body{
    font-family: 'poppins', sans-serif;

    nav{
        padding: 0 7rem;
        z-index: 2;
        @include center();
        min-height: 8vh;
        .menu{
            z-index: 2;
            cursor: pointer;

            &:hover{
                color: #228B22;
            }
        }
        h1{
            z-index: 2;
            margin: 0;
            font-size: 2.5rem;font-family: 'Abril Fatface', cursive;
        }
        
    }

    .landing{
        background: rgba(24, 23, 23, 0.75)url("./img/4aaa238694e4baab66f1a854159604b2.jpg") center;
        background-size: cover;
        background-blend-mode: darken;
        height: 80vh;
        color: whitesmoke;
        text-align: center;
        h1{
            font-size: 4rem;
        }        
        .main{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }    

    #nav-links.active{
        right: 0px;
    }

    #nav-links{
        z-index: 1;
        position: fixed;
        top: 0;
        font-size: 2rem;
        font-weight: bold;
        padding: 2rem;
        list-style: none;
        text-align: center;
        height: 100vh;
        width: 100vw;
        background: whitesmoke;
        right: -110vw;
        transition: all 300ms linear;

        ul{
            margin: 0;
            list-style-type: none;
            font-size: 1.5rem;
            margin-top: 5rem;
            li{
                margin-top: 1rem;
            }
            button{
                border-radius: 30px;
                border: none;
                background: #00AAEE;
                padding: .5rem 2rem;
                margin-top: 2rem;
            }
        }
    }

    .content_section{
        padding: 3rem 0;        
        h1{
            text-align: center;
            color: whitesmoke;
            font-size: 2.5rem;
        }
        
        .form{
            padding: 3rem 2rem;
            background: grey;
            margin: 2rem 7rem;
            

            input, select, textarea{
                padding: .8rem 2rem;
                border-radius: 2px;
                border: none;
                margin-top: 1rem;
            }
            textarea{
                height: 15rem;
                width: 95%;
                resize: vertical;
            }
            button{
                border: none;
                background-color: #00AAEE;
                color: whitesmoke;
                border-radius: 5px;
                width: 100%;
                height: 30px;
                margin-top: 1rem;
            }
        }

        .services-offered{
            box-shadow: 4px 8px 10px rgb(61, 59, 59), 4px 8px 10px rgb(44, 41, 41);
            color: rgb(58, 58, 58);
            padding: 4rem 5rem;
            margin: 2rem 3rem;
            h1{
                color: rgb(58, 58, 58);
                font-size: 5.5rem;
                text-align: left;
            }
            h2{
                margin-top: 4rem;
            }
            i{
                margin-right: 1rem;
                font-size: 15px;
                color: #00AAEE;
            }
        }

    }

    .contact_shotcut{
        padding: 0 7rem;
        color: whitesmoke;
        background: rgb(32, 30, 30);
        @include center();
        text-align: center;

        i{
            margin-top: 2rem;
        }

        .fas{
            font-size: 30px;
            
        }
    }

    footer{
        color: whitesmoke;
        background: rgb(32, 30, 30);
        line-height: 1.5;
        ul{

        }

        i{
            margin-right: 1rem;
        }
    }

    .footer{
        padding: 0 7rem;
        @include center();
        color: whitesmoke;
        background: rgb(32, 30, 30);
    }
}

@media only screen and (max-width : 560px){
    
    .container-fluid{
        padding: 0 2rem;
    }

    body{
        nav{
            padding: 0 2rem;
        }

        .content_section{
            .services-offered{
                h1{
                    font-size: 2.5rem;
                }
                h2{
                    font-size: 2rem;
                }
            }
        }

        .contact_shotcut{
            padding: 0 2rem;
            .fas{
                font-size: 25px;
            }
            h1{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
        }

        .footer{
            padding: 0 2rem;
        }
    }
}
